<<<<<<< HEAD
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
}
=======
>>>>>>> 9858d09 (Restructing the code base from Modules folder --> Controller/Service/Repository folders)
