name: CI

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "25"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install

      - name: Build API
        run: yarn workspace api run build

      - name: Test API
        run: yarn workspace api run test

      - name: Build WEB
        run: yarn workspace web run build
