name: CI

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "23"
          cache: "npm"
          cache-dependency-path: "package-lock.json"

      - name: Install dependencies
        run: yarn install

      - name: Install dependencies API
        run: yarn install --prefix=apps/api

      - name: Test API
        run: yarn test

      - name: Install dependencies WEB
        run: yarn install --prefix=apps/web

      - name: Build API & WEB
        run: yarn build:web && yarn build:api
